<h2>Image Slide</h2>

<fieldset name="slideType" class="no-display">
  <label for="type">Image</label>
  <input type="radio" name="type" id="type" checked>
</fieldset>

<p>Layout?</p>
<select name="imageLayout">
  <option checked>image-bottom</option>
  <option>image-left</option>
  <option>image-right</option>
  <option>image-center</option>
</select>

<p>What is your favorite color?</p>
<select name="favoriteColor">
  <option checked>Blue</option>
  <option>Orange</option>
  <option>Red</option>
  <option>Yellow</option>
  <option>Pink</option>
  <option>Rojo</option>
</select>
