<h2>Image Slide</h2>

<fieldset name="slideType" class="no-display">
  <label for="type">Image</label>
  <input type="radio" name="type" id="type" checked>
</fieldset>

<p>Layout?</p>
<select name="imageLayout">
  <option checked>Bottom</option>
  <option>Left</option>
  <option>Right</option>
  <option>Center</option>
</select>

<p># of Bullet Points?</p>
<select name="numBulletPoints">
  <option checked>0</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
</select>

<p>Eggplant</p>
<select name="eggplant">
  <option>carrot</option>
  <option>eggplant</option>
  <option>cheese</option>
  <option>apple</option>
</select>
