<p>What is the slide type?</p>
<select name="slideType">
  <!-- <option>Assemble Components</option> -->
  <!-- <option>ClickMe</option> -->
  <!-- <option>Html-ClickMeWithVideo</option> -->
  <!-- <option>Html-Multi-Image Handler</option> -->
  <!-- <option>Html-Sequential Illustration of Systems</option> -->
  <!-- <option>Html-Slide</option> -->
  <!-- <option>Html-Video</option> -->
  <!-- <option>Image Gallery</option> -->
  <option>Image</option>
  <option>Quiz</option>
  <option>Exam</option>
  <!-- <option>Video</option> -->
</select>
