<!-- TODO: CHANGE ALL RELATIVE LINKS TO ABSOLUTE LINKS -->

<!-- TODO: Bring the key listener handling here -->
<!-- https://vuejs.org/v2/guide/events.html#Modifier-Keys -->

<html>
  <head>
    <title>XML Page</title>
  </head>
  <link rel="stylesheet" href="../page/xmlPreview.css" type="text/css" />
  <body>
    <div id="main-container">

      <div id="filler-sidebar"></div>
      <div id="sidebar">
	<h2 class="title">Active Slide Text</h2>
	<h3 class="title">Current Slide: {{ slide_active.id }}</h3>
	<div>
	  <div
	     v-for="textItem in slide_active.slideText"
	     class="block">
	    {{ textItem.text }}
	  </div>
	</div>
	<button @click="addContent">Add Content</button>
	<button @click="export">Export Content</button>
      </div>  

      <div id="center-content">
	<div
	   tabindex="5"
	   v-for="slide in slides"
	   :class="slide.classList"
	   @click.self="setActiveElement(slide)" 
	   @focus="setActiveElement(slide)">
	  <button
	     class="delete-button"
	     @click="deleteElement(slides, slide)">Delete</button>
	  <span> Slide Identifier: {{ slide.id }} </span>
	  <div
	     tabindex="5"
	     v-for="xmlBlock in slide.xmlBlocks"
	     :class="xmlBlock.classList"
	     @click="setActiveElement({ parent: slide, target: xmlBlock})" 
	     @focus="setActiveElement({ parent: slide, target: xmlBlock})">
	    <button
	       class="delete-button"
	       @click="deleteElement(slide.xmlBlocks, xmlBlock)">Delete</button>
	    <div contenteditable>
	      {{ xmlBlock.text }}
	    </div>
	  </div>
	</div>
      </div>

    </div>

    <script src="../lib/vue.js"></script>
    <script src="../page/xmlPreview.js"></script>
  </body>
</html>
